{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": "off",
    "eol-last": "off",
    "eqeqeq": [
      "error",
      "allow-null"
    ],
    "camelcase": "off",
    "comma-dangle": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-len": [
      "error",
      120,
      {
        "ignoreComments": true
      }
    ],
    "new-cap": "error",
    "newline-before-return": "off",
    "no-console": "error",
    "no-eval": "error",
    "no-plusplus": "off",
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ],
    "no-mixed-spaces-and-tabs": "error",
    "no-undef": "error",
    "no-underscore-dangle": "off",
    "no-unused-vars": "error",
    "object-curly-spacing": "off",
    "object-shorthand": [
      "error",
      "properties"
    ],
    "one-var": "off",
    "quotes": [
      "error",
      "single"
    ],
    "semi-spacing": "error",
    "semi": [
      "error",
      "never"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "space-infix-ops": "error"
  }
}
